@import "variables";
@import "fonts";

@import "bootstrap";
@import "font-awesome";

body {
    padding-top: $navbar-height + 20px;
}

.navbar {
    border-bottom-width: 3px;

    .navbar-brand {
        font-family: "Big John";
        font-weight: 600;
        font-size: 32px;
    }

    .navbar-nav {
        font-family: "Big John";
        font-weight: 100;
        font-size: 20px;
        
        li a {
            padding-left: 10px;
        }

        .nav-underline {
            margin: 0 auto;
            width: 0;
            height: 4px;
            margin-bottom: -2px;
            border-bottom: 2px solid $navbar-default-link-active-color;
        }

        li.active {
            .nav-underline {
                width: 95%;
                border-bottom-color: $navbar-default-link-active-color;
            }
        }

        li a:not(.active):hover {
            .nav-underline {
                width: 30%;
            }        
        }
    }
}

#schedule {
    h1 {
        margin-bottom: 50px;
    }
    .week {
        margin-bottom: 50px;
    }
}